@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

header {
    background-color: rgb(148, 176, 255);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: cent;
}

header > nav {
    margin: auto;
    max-width: 280px;
}

header > nav > ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: rgb(73, 85, 70);
    padding: 8px 10px;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 20px;
    transition: all .3s;
    font-size: 1rem;
    cursor: pointer;
}

header > nav > ul > li > a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
}

.container {
    flex-grow: 1;
}

.container > h1 {
    text-align: center;
}

.demo {
    width: 100vw;
    margin-top: 80px;
    /* display: flex;
    justify-content: center; */
}

.div1{
    position: fixed;
    left: 30%;
    width: 800px;
    height: 400px;
    background-color: aquamarine;
    border-radius: 12px;
    padding: 5px;
    overflow: hidden;
}

.div2{
    width: 400px;
    height: 700px;
    position: absolute;
    left: 50%;
    background-color: rgb(190, 158, 51);
    border-radius: 12px;
    padding: 5px;
    
}

.div3, .div4{
    padding: 5px;
    width: 150px;
    height: 100px;
}

.div3 {
    float: left;
    background-color: rgb(111, 111, 250);
    /* margin-top: 20px; */
}

.div4 {
    float: right;
    background-color: rgb(111, 234, 250);
}

footer {
    flex-shrink: 0;
    background-color: rgb(94, 75, 75);
}

footer > p {
    color: antiquewhite;
    text-align: center;
}


